.contenedor-imagenes{
    background: red;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagen{
    
    width: 100px;
    height: 100px;  
}


  
  