.contenedor-imagenes{
    min-width: 100%;
    max-width: 100%;
   
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagen{
  
    display: flex;
    width: 200px;
    height: 100px;  
    max-width: 200px;
    min-height: 100px;
}



/* borrar */

.checkeable input {
   
  }
  .checkeable img {
    width: 100px;
    border: 5px solid transparent;
  }
  
  .checkeable input:checked  {
    border-color: blue;
  }


  
  