.imagen{
    width: 100px;
    height: 100px;
   
   
    
}

.contenedor-imagenes2:before {
    background: red;
    content:"";
    position:absolute;
   
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);
  }




  .contenedor-imagenes2:hover::before {
    background-color:rgba(0,0,0,0.5);
  }

  
  