.contenedor-imagenes{
    min-width: 100%;
    max-width: 100%;
   
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagen{
    display: flex;
    width: 100px;
    height: 100px;  
    max-width: 100px;
    min-height: 100px;
}


  
  