.container-imagen {
    position: relative;  
    width:100%;
    max-width:100px;
}
.container-imagen:before {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;right:0;
  background-color:rgba(0,0,0,0);
}
.container-imagen:hover::before {
  background-color:rgba(0,0,0,0.5);
}
.container-imagen img {
  display:block;
}
.container-imagen button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:0;
} 
.container-imagen:hover button {   
  opacity: 1;
}