.imagenModal{
  ;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.centrarModal{
    display: flex;
    justify-content: center;
    align-items: center;
}