.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contenedor-footer{
    align-self: center;
    justify-content: center;
    width: 50%;
}
.item{
    align-self: center;
    justify-content: center;
}