.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    /* background: linear-gradient(to right, rgb(184, 116, 230,1) 10%, rgb(125, 88, 194,1) 50%, rgb(207, 88, 128,1) 60%); */
    background: rgba(216, 213, 213, 1);
}
.contenedor-footer{
   
    display: flex;
    align-self: center;
    justify-content: center;
  
}
