*{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.contenedor-header{
 
    background: linear-gradient(to bottom, rgb(251, 255, 255) 0%, rgb(253, 251, 255) 100%);
   border-bottom: 5px solid rgb(200, 199, 201,.5);
    min-height: 8vh;
    max-height: 10vh;

}
.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contenedor-menu{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    
    min-width: 40%;
    border-radius: 1000px;
    padding: 4px;
   
   
    transition: 1s all ease;
    
}
.contenedor-titulo{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    
    padding: 4px;
   
   
    transition: 1s all ease;
    
}






/* iconos */
.cajaIcono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.textoIcono{
    padding-bottom: 10px;
    margin-top: -15%;
    color: rgb(126, 126, 126);
    font-size: 20px;
}
.icono-Salir{
    font-size: 30px;
    color: black;
    padding: 5px;
}
