

.contenedor-header{
 
    background: linear-gradient(to bottom, rgb(251, 255, 255) 0%, rgb(253, 251, 255) 100%);
   border-bottom: 5px solid rgb(200, 199, 201,.5);
    min-height: 8vh;
    max-height: 10vh;

}
.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.contenedor-menu{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    
   
    border-radius: 1000px;
    padding: 4px;
   
   
    transition: 1s all ease;
    
}
.contenedor-titulo{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    transition: 1s all ease;
   
    
}

.titulo{
   text-decoration: none;
   font-size: 30px;
  
}



/* RESPONSIVE  */

@media(max-width:295px){
    .contenedor-header{
        max-height: 16vh;
        
    }
    .contenedor2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-self: center;
    }
    .contenedor-menu{
        align-self: center;
        justify-content: center;
    }
    .contenedor-titulo{
        align-self: center;
        justify-content: center;
    }

}



/* iconos */
.cajaIcono{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
   
}

.textoIcono{
    padding-bottom: 10px;
    margin-top: -1%;
    color: rgb(126, 126, 126);
    font-size: 14px;
    align-self: center;
}
.icono{
    font-size: 30px;
    color: rgb(37, 37, 37,1);
    padding: 5px;
    transition: all 1s ease;
}

.icono:hover{

    color: rgb(129, 127, 129);

}




/* BORRAR */

.Roses{
  font-size: 30px;
  text-align: center;
  
  text-align: center;


  color: #fcedd8;
 

  color: #fcedd8;
  
     font-family: 'Niconne', cursive;
  font-weight: 700;
text-shadow: 5px 5px 0px #eb452b, 
10px -5px 0px #aa5fff, 
15px -10px 0px #46b59b, 
20px -15px 0px #017e7f;

}

