*{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.contenedor-header{
 
    background: linear-gradient(to bottom, rgb(251, 255, 255) 0%, rgb(253, 251, 255) 100%);
   border-bottom: 3px solid rgb(200, 199, 201);
    min-height: 5vh;
    max-height: 5vh;

}
.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contenedor-menu{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    
    min-width: 40%;
    border-radius: 1000px;
    padding: 4px;
   
   
    transition: 1s all ease;
    
}
.contenedor-titulo{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    
    padding: 4px;
   
   
    transition: 1s all ease;
    
}






/* iconos */
.heart{
    font-size:100px;
color:white;
fill:red;

}
.link-red{
    padding: 10px;
    color: rgb(167, 100, 100);
    font-size: 35px;
   
    display: inline-block;
   
}
