*{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.contenedor-header{
 
   
   border-bottom: 1px solid rgba(200, 199, 201, 0.5);
    min-height: 15vh;
    max-height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor-menu{
    display: flex;
    align-self: end;
    justify-content: end;
    background: rgb(244, 250, 252,.9);
    min-width: 40%;
    border-radius: 1000px;
    padding: 4px;
   
   
    transition: 1s all ease;
    
}
.contenedor-menu:hover{
    border-bottom: 5px solid rgb(46, 170, 164,1);
}






/* iconos */
.heart{
    font-size:100px;
color:white;
fill:red;

}
.link-red{
  
    color: rgb(223, 181, 181);
    font-size: 35px;
   
    display: inline-block;
   
}
