

.contenedor-header{
 
    background: linear-gradient(to bottom, rgb(251, 255, 255) 0%, rgb(253, 251, 255) 100%);
   border-bottom: 5px solid rgb(200, 199, 201,.5);
    min-height: 8vh;
    max-height: 10vh;

}
.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.contenedor-menu{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    
   
    border-radius: 1000px;
    padding: 4px;
   
   
    transition: 1s all ease;
    
}
.contenedor-titulo{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    transition: 1s all ease;
   
    
}

.titulo{
   text-decoration: none;
   font-size: 30px;
  
}



/* RESPONSIVE  */

@media(max-width:295px){
    .contenedor-header{
        max-height: 16vh;
        
    }
    .contenedor2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-self: center;
    }
    .contenedor-menu{
        align-self: center;
        justify-content: center;
    }
    .contenedor-titulo{
        align-self: center;
        justify-content: center;
    }

}



/* iconos */
.cajaIcono{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
   
}

.textoIcono{
    padding-bottom: 10px;
    margin-top: -1%;
    color: rgb(126, 126, 126);
    font-size: 14px;
    align-self: center;
}
.icono{
    font-size: 30px;
    color: rgb(37, 37, 37,1);
    padding: 5px;
    transition: all 1s ease;
}

.icono:hover{

    color: rgb(129, 127, 129);

}




/* BORRAR */

.wrapper {
	text-align: center;
}
	.h1{
		color: #fff;
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right, #b874e6 10%, #7d58c2 50%, #cf5880 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
	
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	}
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }